.social {
  @include list();
  display: flex;
  justify-content: space-between;
}

.social__item {
  font-size: 0;
}

.social__item svg {
  fill: #009aff;
}

.social__item a {
  position: relative;

  display: inline-block;
}

@media (max-width: 1199.98px)  {
  .social {
    flex-direction: column;
  }

  .social__item {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .social__item a {
    padding-left: 45px;

    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    font-family: 'Roboto', sans-serif;
    color: #0099ff;
  }

  .social__item svg {
    position: absolute;
    top: 0;
    left: 0;
  }
}