.structure {
  @include pattern-gradient-bg();
  padding: 75px 0;
}

.structure__title {
  margin-bottom: 70px;
}

.structure__list {
  text-align: center;
}

.structure__item {
  margin-bottom: 70px;
}

@media (max-width: 575.98px) {
  .structure {
    padding: 50px 0;
  }

  .structure__title {
    margin-bottom: 55px;
  }
}