html,
body {
  padding: 0;
  margin: 0;
}

body {
  min-width: 320px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
  color: #7d7d7d;

  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.tal { text-align: left; }
.tac { text-align: center; }
.tar { text-align: right; }

.title {
  margin: 0;

  text-align: center;
  font-weight: 300;
  font-size: 40px;
  line-height: 50px;
  color: #333;

  &--white {
    color: #fff;
  }
}

.btn {
  display: inline-block;
  padding: 20px 28px;

  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  color: #0092ff;

  background-color: #fff;
  border-radius: 40px;
  transition-duration: .4s;
  transition-property: background-color, box-shadow, transform, color;

  &:hover,
  &:focus {
    box-shadow: 0 0 25px rgba(255,255,255,1);
  }

  &:active {
    transform: translateY(5px);
  }

  &--blue {
    font-size: 12px;
    color: #ffffff;

    background-color: #0093ff;

    &:hover,
    &:focus {
      box-shadow: 0 0 25px rgb(120, 144, 255);
    }

    &:active {
      box-shadow: none;
      color: #ffffff;

      background-color: #0093ff;
    }
  }

  &--white {
    &:hover,
    &:focus {
      box-shadow: 0 0 25px rgb(120, 144, 255);
    }

    &:active {
      box-shadow: none;
    }
  }
}

.tooltip {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;

  width: 84px;
  height: 84px;

  background: url("../img/tooltip-icon.png") no-repeat center;
  border-radius: 50%;

  &:hover span {
    visibility: visible;
    opacity: 1;
  }
}

.tooltip span {
  position: absolute;
  top: -100px;
  right: 0;

  display: block;
  width: 262px;
  padding: 12px 0;

  text-align: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  font-family: 'Open Sans', sans-serif;
  color: #999999;

  visibility: hidden;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.4);
  opacity: 0;
  transition: .2s opacity, .2s visibility;
  pointer-events: none;

  &::after {
    content: '';
    position: absolute;
    bottom: -10px;
    right: 20px;

    width: 0;
    height: 0;

    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #fff transparent transparent transparent;

  }
}

@media (max-width: 1199.98px) {
  .tooltip span {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .title {
    font-size: 30px;
    line-height: 40px;
  }
}
